{% extends "base.html" %}
{% load static %}

{% block title %}Hakkımızda{% endblock title %}

{% block body %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static 'img/about-bg.jpg' %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Hakkımızda</h1>
                            <span class="subheading">Neden Bunu Yapıyoruz?</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Bu site tamamen örnek amaçlı olup herhangi bir hakkı olmamakla birlikte geliştirilen basit bir sosyal medya sitesidir.Sitede paylaşılan içeriklerin geliştiriciyle bir ilişkisi yoktur.</p>
                        <p>sitenin <a href="https://github.com/MustafaKayra/SocialMedia-Django" target="_blank">açık kaynak kodlarına</a> erişmek için.</p>
                        <p>Geliştiriciyle <a href="https://www.instagram.com/itsrkayra/" target="_blank">iletişime</a> geçmek için.</p>
                    </div>
                </div>
            </div>
        </main>

{% endblock body %}