{% extends "base.html" %}
{% load static %}

{% block title %}Giriş Yapma{% endblock title %}

{% block body %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static 'img/contact-bg.jpg' %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Giriş Yapma</h1>
                            <span class="subheading">Giriş Yaparak Oturumunuz Açıp Sitedeki Diğer Özelliklerden Faydalanabilirsiniz</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>İletişim İçin E-mail Adresinizi Girin.</p>
                        <div class="my-5">
                            <form method="post">
                            {% csrf_token %}
                                <div class="form-floating">
                                    <input class="form-control" id="name" name="username" type="text" placeholder="Enter your name..."/>
                                    <label for="name">Kullanıcı Adı</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="phone" name="password1" type="password" placeholder="Enter your password..."/>
                                    <label for="email">Parola</label>
                                </div>
                                <br>
                                <button class="btn btn-dark text-uppercase" type="submit">Giriş</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>

{% endblock body %}